@media (max-width:1366px) and (max-height:768px){
    .logo {
        width: 75%;
    }
    .couv {
        max-width: 300px;
    }
    .slide1 h1 {
        font-size: 32px;
        padding-top: 15px;
    }
    .slide1 p {
        font-size: 20px;
    }
    .couv2 {
        max-width: 300px;
    }
    .slide2 h1 {
        font-size: 32px;
        padding-top: 15px;
    }
    .slide2 p {
        font-size: 20px;
    }
    .slide3 h1 {
        font-size: 32px;
        padding-top: 15px;
    }
    .slide3 p {
        font-size: 20px;
    }
    .lireinfos {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 15px;
    }
    .warning {
        font-size: 15px;
        padding-left:20px;
        padding-right:20px;
        text-align: center;
    }
    .warning h1 {
        font-size: 25px;
    }
    .banniereperso h1 {
        font-size: 25px;
    }
    .bannierespecies h1 {
        font-size: 25px;
    }
    .bannierepouv h1 {
        font-size: 25px;
    }
    .bannierechrono h1 {
        font-size: 25px;
    }
    .bannierechrono h1 {
        font-size: 25px;

    }
    .bannierechap h1 {
        font-size: 25px;
    }
    .bannierecs h1 {
        font-size: 25px;
    }
    .banniereepoque h1 {
        font-size: 25px;
    }
    .bannieregroupe h1 {
        font-size: 25px;
    }
    .bannieregroupe2 h1 {
        font-size: 25px;
    }
    .banniereconst h1 {
        font-size: 25px;
    }
    .bannierewiki h1 {
        font-size: 25px;
    }
    .personnage {
        font-size: 20px;
    }
    .wiki2 {
        width: 80%;
        font-size: 100%;
        margin-left: 180px;
        padding-right: 10px;
    }
    .wiki2 .persopresentation h2 {
        font-size: 25px;
    }
    .persopresentation h2 {
        font-size: 25px;
    }
    .persopresentation h3 {
        font-size: 25px;
    }
    .persopresentation h4 {
        font-size: 20px;
    }
    .persopresentation .spec {
        font-size: 25px;
    }
    .ongletsages img{
       width:250px;
    }
    .chemin{
        font-size: 15px;
    }
    .navigation {
       font-size:15px;
    }
    .navigation h2 {
        font-size:20px;
    }
    .wiki {
        width: 80%;
        font-size: 100%;
    }
    .wikisize {
        margin-right: 500px;
    }
    .biologie h2 {
        font-size: 20px;
    }
    .infos td{
        font-size:17px;
    }
    .entourage td {
        font-size:17px;
    }
    .entourage img {
        max-width: 50px;
    }
    .Bdisam {
        padding-left: 300px;
        padding-right: 300px;
        padding-top: 15px;
        padding-bottom: 25px;
    }
    .disamB {
        font-size: 15px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .personnage img{
        max-width: 200px;
    }
    .quote {
        margin-right: 510px;
        font-size: 15px;
    }
    .quote .source {
        font-size: 15px;
    }
    .epoques {
        font-size: 18px;
        width: 50%;
    }
    .fakea {
        font-size: 15px;
    }
    .présentation img {
        width: 260px;
    }
    .onglets {
        font-size: 15px;
    }
    .chara {
        max-height: 300px;
        max-width: 400px;
    }
}
@media (max-width:1024px) and (max-height:640px){
    .logo {
        max-width: 120%;
    }
    .logo2 {
        width: 60%;
    }
    .logopad {
        padding-left: 25px;
    }
    .navbar {
        margin-left: 50px;
    }
    .navbar a {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 15px;
    }
    .content {
        min-width: 20px;
    }
    .chapitres {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .chapitres table {
        width: 80%;
    }
    .couv {
        max-width: 200px;
    }
    .slide1 h1 {
        font-size: 25px;
        padding-top: 15px;
    }
    .slide1 p {
        font-size: 15px;
        margin-right: 100px;
    }
    .couv2 {
        max-width: 200px;
    }
    .slide2 h1 {
        font-size: 25px;
        padding-top: 15px;
    }
    .slide2 p {
        font-size: 15px;
        margin-left: 100px;
    }
    .slide3 h1 {
        font-size: 25px;
        padding-top: 15px;
    }
    .slide3 p {
        font-size: 15px;
        margin-right: 100px;
    }
    .lireinfos {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 15px;
    }
    .warning {
        font-size: 15px;
        padding-left:20px;
        padding-right:20px;
        text-align: center;
    }
    .warning h1 {
        font-size: 25px;
    }
    .banniereperso h1 {
        font-size: 25px;
    }
    .bannierespecies h1 {
        font-size: 25px;
    }
    .bannierepouv h1 {
        font-size: 25px;
    }
    .bannierechrono h1 {
        font-size: 25px;
    }
    .bannierechrono h1 {
        font-size: 25px;

    }
    .bannierechap h1 {
        font-size: 25px;
    }
    .bannierecs h1 {
        font-size: 25px;
    }
    .banniereepoque h1 {
        font-size: 25px;
    }
    .bannieregroupe h1 {
        font-size: 25px;
    }
    .bannieregroupe2 h1 {
        font-size: 25px;
    }
    .banniereconst h1 {
        font-size: 25px;
    }
    .bannierewiki h1 {
        font-size: 25px;
    }
    .personnage {
        font-size: 20px;
    }
    .wiki2 {
        width: 80%;
        font-size: 100%;
        margin-left: 180px;
        padding-right: 10px;
    }
    .wiki2 .persopresentation h2 {
        font-size: 25px;
    }
    .persopresentation h2 {
        font-size: 25px;
    }
    .persopresentation h3 {
        font-size: 25px;
    }
    .persopresentation h4 {
        font-size: 20px;
    }
    .persopresentation .spec {
        font-size: 25px;
    }
    .ongletsages img{
       width:250px;
    }
    .chemin{
        font-size: 15px;
    }
    .navigation {
       font-size:15px;
       width:40%;
    }
    .navigation h2 {
        font-size:20px;
    }
    .wiki {
        width: 90%;
        padding-left: 100px;
        font-size: 15px;
    }
    .wikisize {
        margin-right: 300px;
    }
    .biologie h2 {
        font-size: 20px;
    }
    .infos td{
        font-size:17px;
    }
    .entourage td {
        font-size:17px;
    }
    .entourage img {
        max-width: 50px;
    }
    .Bdisam {
        padding-left: 300px;
        padding-right: 300px;
        padding-top: 15px;
        padding-bottom: 25px;
    }
    .disamB {
        font-size: 15px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .personnage img{
        max-width: 200px;
    }
    .quote {
        margin-right: 340px;
        font-size: 15px;
    }
    .quote .source {
        font-size: 15px;
    }
    .epoques {
        font-size: 18px;
        width: 50%;
    }
    .fakea {
        font-size: 15px;
    }
    .présentation img {
        width: 250px;
    }
    .asidelol {
        float: right;
        padding-right: 80px;
    }
    .onglets {
        font-size: 15px;
    }
    .chara {
        max-height: 300px;
        max-width: 400px;
    }
    .imagepls .trivia {
        width: 150px;
        height: 150px;
        border: 5px solid rgb(22, 21, 21);
        margin-left: 70px;
    }
}