@font-face {
    font-family: "Futura";
    src: url("fonts/futura-webfont.woff") format("woff");
}
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');

/*HEADER*/
header{
    display:flex;
    justify-content: center;
    width:100%;
    align-items: center;
    flex-wrap: wrap;
	background: linear-gradient(#56b0ef, #0d172a);
}
a:hover {
    text-decoration: underline;
    color: rgb(240, 195, 0);
}
nav ul {
    list-style-type: none;
    margin: auto;
    padding: auto;
    overflow: hidden;
    background-color: #0d172a;
}
nav {
    text-align: center;
}
nav li {
    display: inline;
    list-style: none;
    font-size: 250%;
}
nav li a {
    display: inline-block;
    list-style: none;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover {
    background-color: #add8e6;
    color: black;
}

.active{
	background-color: #45d6ab;
}

.logo{
    width:30%;
}

:root{
	--navheight: 30px;
}

/*BODY*/
body,ul{
	margin: 0;
	padding: 0;
	background-color: #0D172A;
    font-family: "Futura", serif;
}
.accueil2{
	display:flex;
	width:100%;
	justify-content: center;
    margin-bottom:40px;
}
.accueil{
	width:60%;
	display:flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;
}
.accueil p{
	color: white;
    text-shadow: 0.05em 0.05em 0.1em black;
    font-size: 250%;
	text-align: center;
}

.acceschap{
	background-color: #0d172a;
    box-align: center;
    text-align: center;
    border: solid;
    width: 180px;
    padding-top:20px;
    padding-bottom:20px;
    border-radius: 10px;
    margin-bottom: 80px;
}
input[type="submit"]{
	font-family: "Futura";
	color: white;
	font-size: 200%;
}
input[type="submit"]:hover {
    background-color: #4caf50;
    color: black;
    border: solid;
    border-radius: 10px;
}

/*WIKI*/
.listechap{
    font-size: 140%;
}
.listechap a{
    color:white;
    text-decoration: none;
}
.listechap a:hover{
    color:rgb(240, 195, 0);
}
.datechap{
    float:right;
    font-size: 140%;
}
.wiki{
    width:60%;
    color:white;
    font-size:120%;
	box-align:center;
	margin-left:auto;
	margin-right:auto;
}
.persos{
    width:60%;
    color:white;
    font-size:120%;
    box-align:center;
    margin-left:auto;
    margin-right:auto;
}
.AAAAHHH{
    width:50%;
}
.maisaled{
    justify-content: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size:150%;
}
.asidelol hr{
    color:white;
}
.h1oskour{
    color:white;
}
.persos p{
    font-family: Arial;
}
.persos a{
    color:#add8e6;
    text-decoration: none;
}
.persos a:hover{
    color:rgb(240, 195, 0);
}
.aled{
    width:1000px;
    color:white;
    font-size: 170%;
	box-align:center;
	margin-left:auto;
	margin-right:auto;
}
.statut {
    background-color: #4caf50;
    font-size: 50%;
    box-align: center;
    text-align: center;
    border: solid;
    width: 70px;
    border-radius: 10px;
    display: inline-block;
    list-style: none;
    color: white;
    text-decoration: none;
    margin:0;
    padding-left:30px;
    padding-right:30px;
    padding-top: 20px;
    font-family:Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
}

.responcon{
    width:35%;
}


/* PERSONNAGES */
.participants table{
    color:white;
    font-size: 170%;
    background: linear-gradient(red, black);
    border: 2px solid darkred;
}
.participants table td{
    text-align: center;
    width: 200px;
    height: 150px;
}
.participants table td:hover{
    border: 2px yellow solid;
}
table td a{
    color:white;
}
.participants img{
    width:200px;
    border: 4px solid goldenrod;
}
.wheel table{
    color:white;
    font-size: 170%;
    background: linear-gradient(green, black);
    border: 2px solid darkgreen;
}
.wheel table td{
    text-align: center;
    width: 200px;
    height: 150px;
}
.wheel img{
    width:200px;
}
.wheel table td:hover{
    border: 2px yellow solid;
}
.secondaires table{
    color:white;
    font-size: 170%;
    background: linear-gradient(blue, black);
    border: 2px solid darkblue;
}
.secondaires table td{
    text-align: center;
    width: 200px;
    height: 150px;
}
.secondaires img{
    width:200px;
}
.secondaires table td:hover{
    border: 2px yellow solid;
}
.persocentr{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.titre{
    font-size: 150%;
    color:white;
    font-style: bold;
}
.sous-titre{
    font-size: 120%;
}
.présentation{
    float: right;
}
.asidelol{
    float: right;
}
.présentation table{
    color:white;
    font-size: 70%;
    background-color: #0d0d0d;
}
.présentation a {
    color:#ADD8E6;
}
.présentation a:hover {
    color:rgb(240, 195, 0);
}
.perso img{
    width: 300px;
}
.citation {
    font-style: italic;
    text-align: center;
}
.texte{
    font-size: 80%;
}

.wiki p{
    font-family: Arial;
}
.wiki a{
    color:#add8e6;
    text-decoration: none;
}
.wiki a:hover{
    color:rgb(240, 195, 0);
}
.entete{
    font-size: 180%;
    font-style: bold;
    background: linear-gradient(to right,black, red, black);
}
.infos{
    font-size: 120%;
    background: linear-gradient(to right,black, red, black);
}

/* ANIMATIONS INFOS */
.onglets{
    cursor:pointer;
    border:#0d172a;
    background: linear-gradient(black, #232b2b, black);
    padding-left:5px;
    padding-right:5px;
}
.container-onglets{
    display:flex;
    justify-content: center;
}
.contenu{
    opacity :0;
    position: absolute;
}
.activeo{
    background: linear-gradient(	#232b2b, #ADD8E6, #ADD8E6,#ADD8E6,#232b2b);
    border:lightblue 1px solid;
    color:black;
}

.activeContenu{
    animation: fade 0.5s forwards;
}

@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}